{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Creando Plan de Evaluación</h1>

    <form action="{{ path('planevaluacion_create', { 'fichaproyecto_id':app.request.get('fichaproyecto_id') }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('planevaluacion') }}">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
