{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Subir Archivo a Evaluación Indirecta</h1>
    <div id="hidestupiderrors">
    <form action="{{ path('uploadindirecta' , { 'evaluacionindirecta_id': app.request.get('evaluacionindirecta_id')}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">Subir Archivo</button>
        </p>
    </form></div>
{% endblock %}