{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <div id="breadcrumb-bar"></div>
    {% include 'navbar.html.twig' %}
    <div id="main-content"><div class="main-content-title"><h2>Bienvenido(a)</h2></div>
    <p>Estás en la <strong>Plataforma de Gestión de la Metodología para la medición y evaluación de impacto de programas de la AChEE.</strong> Esta plataforma permite efectuar el seguimiento de los programas de la AChEE y facilitar la evaluación de los mismos, con un énfasis en los <strong>impactos indirectos.</strong></p>
    <p>Los impactos indirectos de un programa son aquellos que no pueden ser directamente traducidos en energía ahorrada, es decir, cuyo impacto no puede ser medido con el Protocolo Internacional de Medida y Verificación. Ejemplo de este tipo de programas son los que tienen como principal componente la difusión, sensibilización y capacitación.</p>

    <p>El impacto indirecto es medido en base a tres ejes o macro dimensiones analíticas, las que son:</p>
    <strong>-Presencia:</strong> El programa debe estar presente en la mente de las personas que conforman los diferentes grupos de interés.<br> 
    <strong>-Valoración:</strong> El programa debe tener una evaluación positiva y una predisposición favorable entre quienes forman parte de sus grupos de interés. <br>
    <strong>-Capacidad movilizadora:</strong> El programa debe contar con la intensidad suficiente para transferirse en las interacciones de los miembros de sus grupos de interés y motivar a estos hacia la acción concreta buscada. <br>

    <p>Este sistema se compone de 3 etapas principales para la evaluación del impacto de los programas de Eficiencia Energética:</p>
    <strong>1.  Ficha del programa:</strong> Espacio diseñado para guardar la información básica del diseño de los programas, tales como sus objetivos, descripción, jefe de proyecto, indicadores de gestión, entre otros.<br>
    <strong>2.  Plan de Evaluación:</strong> Cuando una ficha de programa ha sido creada, se puede iniciar la etapa de evaluación la que comienza con el plan de la misma. Un plan de evaluación está compuesto de una o más evaluaciones, las cuales pueden ser evaluaciones de seguimiento (trimestrales, semestrales, entre otras) o ex post (evaluaciones al término del programa). Cada una de estas evaluaciones puede medir efectos directos y/o indirectos. Por último, cada evaluación que mida efectos indirectos está compuesta por una o más sub-evaluaciones de impacto indirecto, las que se diferencian por el grupo de interés al cual someten a evaluación.<br>
    <strong>3.  Resultados de la Evaluación:</strong> Luego de realizar la recolección de datos de la evaluación de impacto indirecto y de registrar los resultados de la evaluación de impacto directo de un determinado programa, podrás visualizar un cuadro resumen con los resultados de ambas evaluaciones (en caso de que hayas ingresado dicha información), el que contendrá la cantidad de energía equivalente ahorrada mediante este programa, junto con el nivel de logro alcanzado en cada uno de los ejes: presencia, valoración y capacidad movilizadora.<br>

 {% endblock %}

