/* 
    Document   : general
    Created on : 13-05-2013, 01:34:10 AM
    Author     : Cristián
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html {
    height: 100%;
}

body{
    color: #f3f3f4;
    height: 100%;
}

h1 {
    font-size: 27px;
    font-weight: bold;
    color: #414042;
}

h2, label {
    font-size: 15px;
    font-weight: bold;
    color: #414042;
}

h3 {
    font-size: 13px;
    font-weight: bold;
    color: #414042;
}

ul, li {
    list-style-type: none;
    margin: 0px;
}


#hidestupiderrors ul {
    visibility:hidden;
}

#hidestupiderrors li {
    visibility:hidden;
}

input[type='checkbox'] { 
    float:left;
    margin-right: 3px;
}

 input[type='radio'] { 
    float:left;
    margin-right: 3px;
}

.label-actividad {
    height: 1px;
    text-indent: -9999999px;
    border-bottom: 1px #414042 solid;
}

ul.lista-plataforma {
    padding-left: 20px; 
}

ul.lista-plataforma li {
    list-style-type: disc;
}

p {
    margin: 1em 0em;
}

.login-centered {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.login-centered label[for=remember_me] { 
    display: inline-block;
}

.login-centered input[type='password'] { 
    display: block;
}

.login-centered input[type='checkbox'] { 
    float: none;
    margin: 0px;
}

.login-centered #_submit { 
    display: block;
    float: none;
}

#formhelp {
    float:left;
    font-size: 12pt;
    margin-top: 6px;
    color: blue;
}

#formcleaning input {
    clear:both;
}

#formhelpshowtitle {
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
    color: blue;
}

#formhelpshow {
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
    color: blue;
}

#formhelpactivities {
    float:left;
    margin-top: 0px;
    margin-bottom:8px;
    color: blue;
}

#formhelpejes {
    float:left;
    margin-bottom: 0px;
    margin-top: 0px;
    color: blue;
}

#unidadedirecta {
    
}

#tokenform {
    visibility:hidden;
}



/* Basic-Layout*/
#header {
    font-size: 30px;
    text-align: center;
    color: #414042;
    border-right: 1px #c3c3c6 solid;
    border-left: 1px #c3c3c6 solid;
    border-bottom: 1px #c3c3c6 solid;
    width: 100%;
    background-color: #0e76bc;
    border-radius: 0px 0px 15px 15px;
    right: 0;
    left: 0 ;
    position: static;
    height: 30%;
    box-shadow: 2px 2px 1px rgba(195, 195, 195, 0.6);
}

#header a:hover {
    text-decoration: none;
    color: #F68F1E;
}

#header h1 {
    color: white;
    margin-left: 30px;
    text-align: left;
}

#titlestrong {
    font-weight: bold;
    font-size: 35px;
}

#titleweak {
    font-weight: normal;
}

#logo-achee {
    height: 80px;
    float: right;
    padding-right: 40px;
    padding-top: 10px;
}

#header-color-bars {

}

#footer-color-bars {
    padding-left: 0px;
    padding-top: 10px;
}

.footer-colorbar {
    
}

.header-colorbar {
    padding-top: 0px;
    vertical-align: baseline;
}

#link_bar_header {
    background-color: white;
    text-align: right;
    font-size: 35px;
    height: 40px;
    border-radius: 0px 0px 13px 13px;
    padding-top: 3px;
}

.linkheader {
    color: #0e76bc;
    font-size: 15px;
    float: right;
    padding-right: 40px;
    padding-top: 7px;

}

/* Application-wide*/

.content {
    background-color: white;
    margin-bottom: 65px;
    margin-top: 30px;
    padding: 0px 0px;
    border-right: 1px #c3c3c6 solid;
    border-left: 1px #c3c3c6 solid;
    border-bottom: 1px #c3c3c6 solid;
    border-top: 1px #c3c3c6 solid;
    border-radius: 15px 15px 15px 15px;
    color: black;
    box-shadow: 2px -2px 2px rgba(195, 195, 195, 0.6);
    display: block;
    height: 100%;
    min-height:100%;

    overflow: hidden;
    padding-bottom: 90px;

}

#footer {
    background-color: #0e76bc;
    text-align: left;
    border-right: 1px #c3c3c6 solid;
    border-left: 1px #c3c3c6 solid;
    border-top: 1px #c3c3c6 solid;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 3px 0px 0px rgba(195, 195, 195, 0.6);
    
    height: 90px;
    width: 100%;
}

#footer-text {
    padding-top: 10px;
    padding-left: 20px;
}

#footer-text a {
    text-decoration: none;
    color: white;
}

#footer-text p {
    margin: 0px;
}

.accordion-inner {
     background-color: #d1d2d4;
     color: black;
}

.accordion-inner hr {
    margin-top: 13px;   
    margin-bottom: 13px;
}

.accordion-heading {
    background-color: #e7e7e8;
}

.accordion-heading a {
    color: black;
}


.accordion-inner a {
    color:black;
}

#breadcrumb-bar {
    background-color: #d1d2d4;
    text-align: left;
    height: 30px;
    border-radius: 14px 14px 0px 0px;
}

.breadcrumb-text {
     padding-top: 5px; 
     padding-left: 30px; 
}

.breadcrumb-text a {
    color: black;
}

#navigation-sidebar {
    position: relative;
    float: left;
    padding-left: 22px;
    padding-top: 32px;
    width: 20%;
}


#main-content {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 22px;
    padding-top: 32px;
}

#main-content h2 {
     color: #0e75ba;
    font-size: 30px;
}

#main-content-title {

}

.nav-buttons {
    padding-top: 18px;
    padding-left: 21px;
}

.nav-buttons a{
    text-align: left;
}


/* Color bar!*/
.colorbar-yellow {
    width: 3.125%;
    height: 9px;
    background-color: #f6ee34;
    float:left;
    position: relative;
}

.colorbar-orange {
    width: 3.125%;
    height: 9px;
    background-color: #ffc628;
    float:left;
    position: relative;
}

.colorbar-lightred {
    width: 3.125%;
    height: 9px;
    background-color: #f04e30;
    float:left;
    position: relative;
}

.colorbar-red
{
    width: 3.125%;
    height: 9px;
    background-color: #ea2126;
    float:left;
    position: relative;
}

.colorbar-lightgreen {
    width: 3.125%;
    height: 9px;
    background-color: #8cc43f;
    float:left;
    position: relative;
}

.colorbar-green {
    width: 3.125%;
    height: 9px;
    background-color: #38b44b;
    float:left;
     position: relative;
}

.colorbar-blue {
    width: 3.125%;
    height: 9px;
    background-color: #0e75ba;
    float:left;
    position: relative;
}

.colorbar-purple {
    width: 3.125%;
    height: 9px;
    background-color: #28388e;
    float:left;
    position: relative;
}

.span12 textarea {
    width: 98%;
    height: 120px;
}

.span12 input {
    width: 98%;
}

.span10 textarea {
    width: 80%;
    height: 120px;
}

.span10 input {
    width: 98%;
}

.span6 input {
    width: 96%;
}

.span6 select {
    width: 99%;
}

