.title-actions{
	float: right;
	position: relative;
}

#main-content{
}

#main-content h2{
}

#main-content-title
{
	position: relative;
	float: left;
}

.accordion-group{
	text-align: center;
}