.title-actions{
	float: right;
	position: relative;
	display: inline-block;
	 padding-top: 12px; 
}

#main-content{
	display: block;
}

#main-content h2{
}

#main-content-title
{
	display: block;
}

.accordion-group{
	text-align: center;
}

.title-text{
	position: relative;
	float: left;
}