{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
{% if entity.getDone() == false%}
<form action="{{ path('preguntadesarrollo_link_save', {'id': entity.id}) }}" method="post" {{ form_enctype(delete_form) }}>
    <h1>Asociar Pregunta de Desarrollo Anterior a Cuestionario</h1>
    <select name="old_id">
	{% for pregunta in preguntas%}
	<option value="{{ pregunta.getId()}}">{{ pregunta.getEnunciado() }}</option>
	{% endfor %}
	</select>
	<p>
       <button type="submit" class="btn btn-success">Asociar Pregunta</button>
    </p>
    </form>
{% else %}
<h1>El cuestionario ha sido cerrado, por lo que no se pueden agregar más preguntas.</h1>
{% endif %}
{% endblock %}


