{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Creando Cuestionario</h1>

    <form action="{{ path('cuestionario_create', { 'evaluacion_id':app.request.get('evaluacion_id') }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">Crear</button>
        </p>
    </form>
{% endblock %}
